.contact {
  padding: 50px 260px;
  background-image: linear-gradient(to right bottom, rgba(16, 18, 11, 0.4), rgba(16, 18, 11, 0.8)), url("~assets/sass/images/contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact h1 {
  text-align: center;
  line-height: 78px;
  font-weight: 600;
  font-size: 64px;
  color: white;
  margin-bottom: 66px;
}

.contact__container {
  display: flex;
  flex-direction: column;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 41em) {
  .contact__wrapper {
    justify-content: center;
  }
}

.contact__box {
  margin: 0.5rem 1.5rem;
}

.contact__box textarea {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.5rem;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  min-height: 15rem;
  width: 100%;
  height: 100%;
}

.contact__box textarea:focus {
  outline: none;
}

.contact__box textarea::placeholder {
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.contact__box-1 {
  flex-grow: 0.25;
}

.contact__box-2 {
  flex-grow: 0.25;
}

.contact__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__group:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contact__group input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 0 0 0.5rem 0;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.2s;
}

.contact__group input:focus {
  outline: none;
  border-bottom: 3px solid #129612;
}

.contact__group input:focus:invalid {
  border-bottom: 3px solid #d63b3b;
}

.contact__group input::placeholder {
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.contact__group input:focus {
  outline: none;
}

.contact__group label {
  margin-top: 0.3rem;
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
}

.contact__group input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.2rem);
}

.contact__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.contact__btn button {
  padding: 0.3rem 3rem;
  border: 2px solid #fff;
  color: white;
  background-color: black;
  transition: all 0.2s;
}

.contact__btn button:hover {
  transform: translateY(-0.25rem);
}

.contact__btn button:active {
  transform: translateY(-0.1rem);
}

.header__body {
  padding: 7rem 5rem;
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("~assets/sass/images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__man__box {
  position: relative;
}

.header__man {
  width: 620px;
  height: 750px;
  position: absolute;
  left: -5rem;
  top: -13%;
}

.header__box {
  padding: 1rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__content__left {
  padding: 2.5rem 0;
}

.header__content__left div {
  padding: 0 2.5rem;
  position: relative;
}

.header__content__left div::after {
  content: '';
  width: 131px;
  height: 131px;
  left: 0;
  top: -0.5rem;
  z-index: 5;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}

.header__content__left h1 {
  font-weight: bold;
  font-size: 48px;
  z-index: 10;
  position: relative;
  line-height: 59px;
  margin-bottom: 38px;
  backdrop-filter: blur(3px);
}

.header__content__left h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  backdrop-filter: blur(3px);
}

.header__content__left h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 38px;
  display: inline-block;
  backdrop-filter: blur(3px);
}

.header__content__right {
  display: flex;
  flex-direction: column;
}

.header__content__visible {
  display: none;
}

.header__icons {
  font-size: 2rem;
  color: white;
  margin: 0.7rem 0;
  transition: all 0.2s;
  backdrop-filter: blur(3px);
}

.header__icons:hover {
  color: #34b3d3;
}

.header__projects {
  display: flex;
  padding: 0 0 0 1rem;
  margin-bottom: 3rem;
}

.header__projects__box:nth-child(1) {
  padding: 0 1.5rem 0 0;
}

.header__projects__box:nth-child(2) {
  padding: 0 1.5rem;
}

.header__projects__box:nth-child(3) {
  padding: 0 0 0 1.5rem;
}

.header__projects__box:not(:last-child) {
  border-right: 4px solid white;
}

.header__projects__box h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 67.9%;
}

.header__projects__box p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}

.navbar__container {
  padding: 0 5rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.5);
}

.navbar__activeLang {
  position: relative;
}

.navbar__activeLang::after {
  content: '';
  height: 0.2rem;
  width: 60%;
  position: absolute;
  left: 0.45rem;
  bottom: 0.2rem;
  background-color: #cf821d;
}

@media only screen and (max-width: 62em) {
  .navbar__activeLang::after {
    width: 100%;
    left: 0;
  }
}

.navbar__hamburger {
  display: none;
}

.navbar__hamburger span {
  display: inline-block;
  width: 1.4rem;
  height: 0.1rem;
  background-color: white;
}

.navbar__hamburger span:nth-child(1) {
  margin-bottom: 0.4rem;
}

.navbar__hamburger span:nth-child(2) {
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 62em) {
  .navbar__hamburger {
    display: flex;
    position: absolute;
    top: 2.1rem;
    right: 6.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 56.25em) {
  .navbar__hamburger {
    top: 2.1rem;
    right: 5.1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navbar__hamburger {
    top: 1.5rem;
    right: 3.1rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .navbar__hamburger {
    top: 1.6rem;
    right: 3.1rem;
  }
  .navbar__hamburger span {
    width: 1.3rem;
    height: 0.1rem;
  }
  .navbar__hamburger span:nth-child(1) {
    margin-bottom: 0.3rem;
  }
  .navbar__hamburger span:nth-child(2) {
    margin-bottom: 0.3rem;
  }
}

@media only screen and (max-width: 25em) {
  .navbar__hamburger {
    top: 1.6rem;
    right: 2.35rem;
  }
}

.navbar__logo {
  width: 60px;
  height: 60px;
}

.navbar__item .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff !important;
}

.navbar__lang li a {
  position: relative;
}

.navbar__lang li a::after {
  content: '';
  height: 0.2rem;
  width: 0;
  position: absolute;
  left: 0.45rem;
  bottom: 0.2rem;
  background-color: #cf821d;
  transition: all 0.2s;
}

@media only screen and (max-width: 62em) {
  .navbar__lang li a::after {
    width: 0;
    left: 0;
    bottom: 0.2rem;
  }
}

.navbar__lang li a:hover::after {
  width: 61%;
}

@media only screen and (max-width: 62em) {
  .navbar__lang {
    flex-direction: row;
  }
  .navbar__lang li {
    margin-right: 0.7rem;
  }
}

@media only screen and (max-width: 62em) {
  .navbar__contact__btn__box {
    align-items: center !important;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
  }
}

.navbar__contact__btn {
  margin-right: 100px;
}

@media only screen and (max-width: 62em) {
  .navbar__contact__btn {
    margin-right: 3rem;
  }
}

.navbar__contact__btn .nav-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  border: 3px solid white !important;
  padding: 0.2rem 1.5rem !important;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff !important;
  transition: all 0.2s;
}

.navbar__contact__btn .nav-link:hover {
  transform: translateY(-0.25rem);
}

.navbar__contact__btn .nav-link:active {
  transform: translateY(-0.1rem);
}

@media only screen and (max-width: 62em) {
  .navbar__contact__btn .nav-link {
    padding: 0.2rem 1.3rem !important;
  }
}

@media only screen and (max-width: 31.25em) {
  .navbar__contact__btn .nav-link {
    padding: 0.2rem 0.5rem !important;
  }
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler {
  border: none;
}

@media only screen and (max-width: 25em) {
  .navbar-toggler {
    padding: 0.1rem 0.2rem;
  }
}

#nav-collapse {
  padding-top: 0;
}

.features__container {
  background-color: #fff;
  padding: 0 90px 7rem;
  position: relative;
}

.features__top {
  position: relative;
}

.features__wrapper {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 0 3px 3px;
}

.features__box {
  height: 183px;
  margin: 1rem 0 1.9rem;
  position: relative;
  transition: all 0.4s;
}

.features__box:hover {
  transform: scale(1.1);
  border: 3px solid white;
}

.features__box:hover .features__box__caption {
  opacity: 1;
}

.features__box__caption {
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s;
}

.features__box__caption i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.features__box__caption div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__box__caption div p {
  margin-bottom: 0.2rem;
}

.features__box__caption__change {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.8rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.features__box__caption__change div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__box__caption__change div p {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.features__box__change {
  height: auto;
}

.features__box__change:hover {
  transform: none;
  border: none;
}

.features__box__change img {
  height: 183px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features__img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features__bottom h1 {
  margin: 86px 0 54px 130px;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
}

.carousel__container {
  padding-left: 5rem;
}

.carousel__container .slick-prev {
  left: -8rem;
}

.carousel__container .slick-prev::before {
  font-size: 3rem;
  color: black;
}

.carousel__container .slick-next::before {
  font-size: 3rem;
  color: black;
}

.carousel__change .slick-prev {
  opacity: 0;
  visibility: hidden;
}

.carousel__change .slick-next {
  opacity: 0;
  visibility: hidden;
}

.carousel__box {
  margin: 3rem 0;
  width: 203px;
  height: 158px;
  background-color: white;
  border: 2px solid #e9e9e9;
  filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.2));
}

.carousel__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.popup__container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container span {
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  top: 2rem;
  color: white;
  right: 5rem;
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  .popup__container span {
    top: 1rem;
    right: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .popup__container span {
    top: 6rem;
    right: 0.4rem;
  }
}

.popup__carousel {
  height: 70vh;
  width: 60%;
}

@media only screen and (max-width: 64em) {
  .popup__carousel {
    height: 70vh;
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .popup__carousel {
    height: 45vh;
    width: 90%;
  }
}

.popup__carousel .slick-prev {
  left: -4rem;
  z-index: 15;
}

.popup__carousel .slick-prev::before {
  font-size: 3rem;
  color: #fff;
}

.popup__carousel .slick-next {
  z-index: 15;
  right: -2rem;
}

.popup__carousel .slick-next::before {
  font-size: 3rem;
  color: #fff;
}

.popup__change .slick-prev {
  opacity: 0;
  visibility: hidden;
}

.popup__change .slick-next {
  opacity: 0;
  visibility: hidden;
}

.popup__carousel__box {
  position: relative;
}

.popup__carousel__box caption {
  padding: 0.7rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: 600;
}

.popup__carousel__img {
  height: 70vh;
  width: 100%;
  background-position: center;
  border-radius: 5px;
  object-fit: cover;
  background: white url("~/assets/sass/images/spinnerGif.gif") no-repeat scroll center center;
}

@media only screen and (max-width: 37.5em) {
  .popup__carousel__img {
    height: 50vh;
    width: 100%;
  }
}

.popup__carousel__video {
  border-radius: 5px;
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 37.5em) {
  .popup__carousel__video {
    height: 50vh;
    width: 100%;
  }
}

.popup__carousel__video:focus {
  outline: none;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  font-size: 1.1rem !important;
}

.slick-dots li button:before {
  font-size: 0.7rem !important;
  color: white !important;
  top: 1rem !important;
}

@media only screen and (max-width: 37.5em) {
  .slick-dots li button:before {
    top: 3rem !important;
  }
}

.footer {
  padding: 30px 90px;
  background-color: #171717;
  color: white;
}

.footer__box {
  height: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__icons__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.footer__icons {
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.2s;
}

.footer__icons:hover {
  color: #34b3d3;
}

.footer__copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copy p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.footer__copy p a:link,
.footer__copy p a:visited {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

.footer__copy p a:link:hover,
.footer__copy p a:visited:hover {
  color: #21b621;
}

.footer__logo {
  width: 80px;
  height: 80px;
}

.footer__envelope {
  display: flex;
  justify-content: flex-end;
  word-break: break-all;
  padding-top: 0;
}

.footer__envelope p {
  margin-left: 0.6rem;
  margin-top: 0.1rem;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.scroll__up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.4rem 0.9rem;
  z-index: 999;
  background-color: #5d30db;
  animation: leap 0.6s linear infinite alternate;
  transition: all 0.2s;
  font-size: 1.5rem;
}

.scroll__up:hover {
  color: white;
  box-shadow: 0 0 10px 6px rgba(93, 48, 219, 0.4);
}

@keyframes leap {
  from {
    transform: translateY(0.7rem);
  }
  to {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 5px;
}

@media only screen and (max-width: 75em) {
  .features__container {
    padding: 0 90px 6rem;
  }
  .contact {
    padding: 50px 90px;
  }
  .footer {
    padding: 30px 80px;
  }
}

@media only screen and (max-width: 56.25em) {
  .features__container {
    padding: 0 80px 5rem;
  }
  .contact {
    padding: 40px 80px;
  }
  .footer {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__container {
    padding: 0 40px 3rem;
  }
  .contact {
    padding: 30px 40px;
  }
  .footer {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 25em) {
  .features__container {
    padding: 0 16px 1rem;
  }
  .contact {
    padding: 20px 16px 30px;
  }
  .footer {
    padding: 30px 16px;
  }
}

@media only screen and (max-width: 41.875em) {
  .carousel__container {
    padding-left: 32%;
  }
  .carousel__container .slick-prev {
    left: -5rem;
  }
  .carousel__container .slick-next {
    right: 15%;
  }
}

@media only screen and (max-width: 33.125em) {
  .carousel__container {
    padding-left: 28%;
  }
  .carousel__container .slick-prev {
    left: -45%;
  }
  .carousel__container .slick-next {
    right: 5%;
  }
}

@media only screen and (max-width: 28.125em) {
  .carousel__container {
    padding-left: 20%;
  }
  .carousel__container .slick-prev {
    left: -30%;
  }
  .carousel__container .slick-next {
    right: 5%;
  }
}

@media only screen and (max-width: 22.5em) {
  .carousel__container {
    padding-left: 18%;
  }
  .carousel__container .slick-prev {
    left: -25%;
  }
  .carousel__container .slick-next {
    right: 8%;
  }
}

@media only screen and (max-width: 20em) {
  .carousel__container {
    padding-left: 14%;
  }
  .carousel__container .slick-prev {
    left: -22%;
  }
  .carousel__container .slick-next {
    right: 8%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact h1 {
    margin-bottom: 36px;
    font-size: 54px;
  }
}

@media only screen and (max-width: 25em) {
  .contact h1 {
    font-size: 45px;
    margin-bottom: 26px;
  }
}

@media only screen and (max-width: 56.25em) {
  .features__bottom h1 {
    margin: 3rem 0 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__bottom h1 {
    font-size: 54px;
  }
}

@media only screen and (max-width: 25em) {
  .features__wrapper {
    padding: 1rem 1.5rem 2rem;
  }
  .features__bottom h1 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 48em) {
  .footer__box {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer__wrapper {
    margin-bottom: 1.2rem !important;
  }
  .footer__icons__box {
    margin-bottom: 1.5rem;
  }
  .footer__icons {
    font-size: 1.4rem;
  }
  .footer__copy p {
    font-size: 15px;
    line-height: 22px;
  }
  .footer__logo {
    width: 60px;
    height: 60px;
  }
  .footer__envelope p {
    margin-left: 0.6rem;
    margin-top: 0.1rem;
    font-size: 15px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 87.125em) {
  .header__man {
    top: -15%;
  }
  .header__content__left h1 {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .header__content__left h2 {
    font-size: 21px;
    line-height: 30px;
  }
  .header__content__left h3 {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 83.875em) {
  .header__man {
    left: -10rem;
    top: -5%;
  }
  .header__content__left h1 {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .header__content__left h2 {
    font-size: 21px;
    line-height: 30px;
  }
  .header__content__left h3 {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 75em) {
  .header__man {
    width: 580px;
    height: 700px;
  }
  .header__projects__box h2 {
    font-size: 24px;
  }
  .header__projects__box p {
    font-size: 12px;
  }
  .header__content__left h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .header__content__left h2 {
    font-size: 16px;
    line-height: 30px;
  }
  .header__content__left h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 62.5em) {
  .header__projects__box h2 {
    font-size: 24px;
  }
  .header__projects__box p {
    font-size: 12px;
  }
  .header__content__left h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .header__content__left h2 {
    font-size: 16px;
    line-height: 30px;
  }
  .header__content__left h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 56.25em) {
  .header__body {
    background-position: 15%;
  }
  .header__content__left h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .header__content__left h2 {
    font-size: 16px;
    line-height: 30px;
  }
  .header__content__left h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .header__projects__box h2 {
    font-size: 24px;
  }
  .header__projects__box p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 43.125em) {
  .header__box {
    padding: 0;
  }
  .header__body {
    padding: 7rem 1rem 7rem 5rem;
  }
  .header__content__left {
    padding: 0 0 0.5rem;
  }
  .header__content__left div {
    padding: 0 1rem;
  }
  .header__content__left div::after {
    content: '';
    left: -1rem;
    top: -0.2rem;
    height: 110px;
    width: 110px;
  }
  .header__content__left h1 {
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 9px;
  }
  .header__content__left h2 {
    font-size: 15px;
    line-height: 1.5;
  }
  .header__content__left h3 {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 3px;
  }
  .header__projects {
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  .header__icons {
    font-size: 1.2rem;
  }
  .header__projects__box:not(:last-child) {
    border-right: 2px solid white;
  }
  .header__projects__box:nth-child(1) {
    padding: 0 0.5rem 0 0;
  }
  .header__projects__box:nth-child(2) {
    padding: 0 0.5rem;
  }
  .header__projects__box:nth-child(3) {
    padding: 0 0 0 0.5rem;
  }
  .header__projects__box h2 {
    font-size: 17px;
  }
  .header__projects__box p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 31.25em) {
  .header__content__right {
    display: none;
  }
  .header__content__visible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__body {
    background-position: 18%;
    padding: 5rem 3rem 3rem 5rem;
  }
  .header__content__left {
    padding: 0 0 0.5rem;
  }
  .header__content__left div {
    padding: 0 1rem;
  }
  .header__content__left div::after {
    content: '';
    left: -1rem;
    top: -0.2rem;
    height: 110px;
    width: 110px;
  }
  .header__content__left h1 {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .header__content__left h2 {
    font-size: 9px;
    line-height: 15px;
  }
  .header__content__left h3 {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .header__projects {
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  .header__icons {
    font-size: 0.8rem;
  }
  .header__projects__box h2 {
    font-size: 10px;
  }
  .header__projects__box p {
    font-size: 6px;
  }
}

@media only screen and (max-width: 23.75em) {
  .header__body {
    padding: 5rem 1rem 3rem 5rem;
  }
}

@media only screen and (max-width: 75em) {
  .navbar__container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .navbar__container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navbar__container {
    padding: 0rem 1rem;
  }
  .navbar__logo {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 25em) {
  .navbar__container {
    padding: 0 0.8rem;
  }
}

.login__popup {
  background-color: #fff;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.login__popup__form {
  width: 40%;
  height: 50%;
  background-image: linear-gradient(to right bottom, #312c51, #48426d);
  padding: 3rem 2rem;
  border-radius: 8px;
  color: white !important;
  font-size: 1.2rem !important;
  font-weight: 500;
}

@media only screen and (max-width: 75em) {
  .login__popup__form {
    width: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  .login__popup__form {
    width: 60%;
  }
}

@media only screen and (max-width: 37.5em) {
  .login__popup__form {
    width: 70%;
  }
}

@media only screen and (max-width: 25em) {
  .login__popup__form {
    width: 85%;
  }
}

.admin {
  position: relative;
}

.admin__nav {
  background-color: #222d32;
  padding: 1rem 1.5rem;
}

.admin__toggler {
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.admin__container {
  position: relative;
}

.admin__sidebar {
  background-color: #222d32;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  min-height: 100%;
  padding: 0 0 40rem;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 50em) {
  .admin__sidebar {
    display: inline-block;
    transform: translateX(-230px);
  }
}

.admin__sideToggle {
  display: inline-block;
  transform: translateX(-230px);
}

@media only screen and (max-width: 50em) {
  .admin__sideToggle {
    transform: translateX(0);
  }
}

.admin__logo {
  padding-left: 1.5rem;
}

.admin__logo img {
  height: 5rem;
  width: 5rem;
}

.admin__list {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.admin__link, .admin__link:link, .admin__link:visited {
  display: block;
  text-decoration: none;
  color: #b8c7ce;
  padding: 0.6rem 0 0.6rem 1.5rem;
  transition: all 0.3s;
  font-size: 1.1rem;
}

.admin__link:hover {
  background-color: #1e282c;
  color: #fff;
  padding: 0.6rem 0 0.6rem 1.8rem;
}

.admin__main {
  margin-left: 230px;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 50em) {
  .admin__main {
    margin-left: 0;
  }
}

.admin__mainToggle {
  margin-left: 0;
}

@media only screen and (max-width: 50em) {
  .admin__mainToggle {
    margin-left: 230px;
  }
}

.gallery__container {
  position: relative;
  padding: 1.6rem 1.5rem;
  min-height: 100%;
}

.gallery__body {
  padding: 2rem 0;
}

.gallery__category {
  border: 1px solid #309bbe;
  padding: 1rem;
  border-radius: 3px;
}

.gallery__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9be3ee;
  padding: 0.5rem 1rem;
  color: #222121;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.gallery__main:hover {
  background-color: #b0dae0;
}

.gallery__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: #222121;
  font-weight: 500;
  font-size: 0.9rem;
}

.gallery__sub:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.gallery__sub:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.gallery__sub img {
  height: 2.4rem;
  width: 2.7rem;
  border-radius: 2px;
  margin: 0 2rem;
  background-position: center;
}

.gallery__view {
  color: #4185df;
  font-size: 1rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.gallery__edit {
  color: #4185df;
  font-size: 1rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.gallery__delete {
  color: #d42727;
  font-size: 1rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.gallery__delete__center {
  display: flex;
  align-items: center;
}

.gallery__p {
  color: inherit;
  margin: 0;
  padding-left: 1rem;
  border-left: 1px solid black;
}

.gallery__num {
  width: 2rem;
}

.popup__add__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 5rem 0;
  justify-content: center;
}

.popup__add__form {
  width: 75%;
}

.popup__add__close {
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .popup__add__close {
    right: 1rem;
  }
}

.popup__add__btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.popup__add__btn div:nth-child(2) {
  flex: 1;
}

@media only screen and (max-width: 37.5em) {
  .popup__add__btn {
    flex-direction: column;
    align-items: stretch;
  }
}

.popup__delete__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  padding-top: 7rem;
  align-items: flex-start;
  justify-content: center;
}

.popup__delete__form {
  width: 35%;
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
}

@media only screen and (max-width: 56.25em) {
  .popup__delete__form {
    width: 60%;
  }
}

.popup__delete__form h1 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .popup__delete__form {
    width: 80%;
  }
  .popup__delete__form h1 {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
}

.popup__delete__close {
  font-size: 3rem;
  position: absolute;
  color: white;
  top: 1rem;
  right: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .popup__delete__close {
    right: 1rem;
  }
}

.popup__imageAdd__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 5rem 0;
  justify-content: center;
}

.popup__imageAdd__close {
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .popup__imageAdd__close {
    right: 1rem;
  }
}

.popup__imageAdd__form {
  width: 55%;
}

.popup__imageAdd__form h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.message__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  display: flex;
  padding: 5rem 0;
  justify-content: center;
}

.message__wrapper {
  width: 90% !important;
}

.profile__container {
  padding: 3rem 5rem;
  min-height: 100%;
}

.profile__wrapper {
  border-radius: 3px;
  border: 1px solid #309bbe;
}

.profile__head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #309bbe;
}

.profile__head h1 {
  font-size: 2rem;
  font-weight: 600;
}

.profile__body {
  padding: 2rem 5rem;
}

.profile__photo {
  padding: 1rem;
  border: 1px solid #309bbe;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.profile__photo__bg {
  background-color: rgba(196, 196, 196, 0.15);
  display: flex;
  border-radius: 3px;
  padding: 0.5rem;
  justify-content: center;
}

.profile__photo__img {
  height: 11rem;
  border-radius: 5px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.profile__group {
  display: flex;
  align-items: center;
}

.profile__group div {
  flex: 1;
}

.profile__edit {
  margin: 0.3rem 0 0 1rem;
  color: #255ba4;
  cursor: pointer;
}

.profile__btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.profile__btn button {
  margin-right: 1rem;
}

.profile__progress {
  flex: 1;
}

@media only screen and (max-width: 75em) {
  .profile__container {
    padding: 3rem 4rem;
  }
  .profile__head {
    padding: 1rem;
  }
  .profile__head h1 {
    font-size: 1.8rem;
  }
  .profile__body {
    padding: 2rem 4rem;
  }
  .profile__photo {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .profile__photo__img {
    height: 9rem;
  }
  .profile__edit {
    margin: 0.3rem 0 0 1rem;
  }
  .profile__btn button {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .profile__container {
    padding: 3rem 2rem;
  }
  .profile__head {
    padding: 1rem;
  }
  .profile__head h1 {
    font-size: 1.5rem;
  }
  .profile__body {
    padding: 2rem 2rem;
  }
  .profile__photo {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .profile__photo__img {
    height: 9rem;
  }
  .profile__edit {
    margin: 0.3rem 0 0 1rem;
  }
  .profile__btn button {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .profile__container {
    padding: 2rem 1.5rem;
  }
  .profile__head {
    padding: 1rem;
  }
  .profile__head h1 {
    font-size: 1.5rem;
  }
  .profile__body {
    padding: 2rem 1.5rem;
  }
  .profile__photo {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .profile__photo__img {
    height: 8rem;
  }
  .profile__edit {
    margin: 0.3rem 0 0 1rem;
  }
  .profile__btn button {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 25em) {
  .profile__container {
    padding: 1.5rem 1rem;
  }
  .profile__head {
    padding: 1rem;
  }
  .profile__head h1 {
    font-size: 1.5rem;
  }
  .profile__body {
    padding: 1.5rem 1rem;
  }
  .profile__photo {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .profile__photo__img {
    height: 8rem;
  }
  .profile__edit {
    margin: 0.3rem 0 0 1rem;
  }
  .profile__btn button {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */